<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>javaConcepts.Programmings</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>reverse2DArray</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>frequencyOfOccurenceInIntegerArray</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>frequencyOfOccurenceInStringArray</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CharacterFrequencyOfOccurenceInString</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>firstTwoMaxArrayValueCheck</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>HighestInRowWhereSmallestArrayFound</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>stringConcepts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkPrimeNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>firstTwoMaxArrayValue</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>smallestIn2DArray</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>reverseNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>HighestInColumnWhereSmallestArrayFound</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>removeDublicates</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>sortTheListOfStrings</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
