<h2>Methods that were not run</h2><table>
<tr><td>javaConcepts.Programmings.checkPrimeNumber</td></tr>
<tr><td>javaConcepts.Programmings.CharacterFrequencyOfOccurenceInString</td></tr>
<tr><td>javaConcepts.Programmings.frequencyOfOccurenceInIntegerArray</td></tr>
<tr><td>javaConcepts.Programmings.firstTwoMaxArrayValueCheck</td></tr>
<tr><td>javaConcepts.Programmings.reverse2DArray</td></tr>
<tr><td>javaConcepts.Programmings.smallestIn2DArray</td></tr>
<tr><td>javaConcepts.Programmings.HighestInRowWhereSmallestArrayFound</td></tr>
<tr><td>javaConcepts.Programmings.frequencyOfOccurenceInStringArray</td></tr>
<tr><td>javaConcepts.Programmings.stringConcepts</td></tr>
<tr><td>javaConcepts.Programmings.HighestInColumnWhereSmallestArrayFound</td></tr>
<tr><td>javaConcepts.Programmings.removeDublicates</td></tr>
<tr><td>javaConcepts.Programmings.reverseNumber</td></tr>
<tr><td>javaConcepts.Programmings.sortTheListOfStrings</td></tr>
</table>